
<h1> Hello </h1>

<form actions='/admin' method ='POST' >

	Enter you login </br>	
	<input type='text' name='login'/> </br>

	Enter you password </br>
	<input type='password' name='password' /> </br>

	<input type='submit' >	

</form>
 






