
<h2> Контакты </h2>

<h4> 

	Контакты для связи 

	+7 xxx xx xx

</h4>

	<div class="form-floating">
	  <textarea class="form-control" placeholder="Вы можете оставить здесь ваш комментарий" id="floatingTextarea"></textarea>
	  <label for="floatingTextarea">Комментарии</label>
	</div>
