
<h2> Записаться </h2>

<form action="/visit" method="POST" role ="form">

  <div class="mb-3">
    <label  class="form-label">Введите ваше имя</label>
    <input  type="text" name="username" class="form-control" placeholder ="имя">
</div>

  <div class="mb-3">
    <label  class="form-label">Введите ваш номер телефона</label>
    <input  type="text" name="username" class="form-control" placeholder ="номер телефона">
</div>

  <div class="mb-3">
    <label  class="form-label">Укажите дату записи</label>
    <input  type="text" name="username" class="form-control" placeholder ="дата">
</div>


  <button type="submit" class="btn btn-primary">Записаться</button>

</form>