
<h2> Записаться </h2>

<form action="/visit" method="/POST" role ="form">

  <div class="mb-3">
    <label  class="form-label">You'r name</label>
    <input name="username" type="text" class="form-control" placeholder ="Enter you'r name"> 
</div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>